<!--
  Generated template for the HelloPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Hello
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="hello">
  Hello world!!
</ion-content>
