<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">

    <ion-toolbar>
        <ion-title>Options</ion-title>
    </ion-toolbar>

    <ion-content>
        <ion-list>
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
