<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Awesome map
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="home">

  <div id="map_canvas"></div>

</ion-content>
